*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #212121;
    color: #fff;
}
.container{
    border: 10px solid rgb(255, 0, 0);
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin-left: 580px;
    margin-top: 200px;
}

.square-boxes{
    display: inline-block;
    border: 2px solid black;
    width: 20px ;
    height: 20px;
    
}